<div class="container">
  <div class="row my-4">
      <h2 class="col-2 border border-text">マイページ</h2>
  </div>
  <div class="row">
      <div class="col-3 font-weight-bold" style="font-size: 20px">登録情報</div>
      <div class="col-3"><%= link_to "編集する", customers_edit_path, class: "btn btn-success" %></div>
  </div>
  <table class="table">
  <tbody>
    <tr>
      <th>氏名</th>
      <th><%= @customer.last_name + @customer.first_name %></th>
    </tr>
    <tr>
      <th>カナ</th>
      <th><%= @customer.last_name_kana + @customer.first_name_kana %></th>
    </tr>
    <tr>
      <th>郵便番号</th>
      <th><%= @customer.postal_code %></th>
    </tr>
    <tr>
      <th>住所</th>
      <th><%= @customer.address %></th>
    </tr>
    <tr>
      <th>電話番号</th>
      <th><%= @customer.number %></th>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <th><%= @customer.email %></th>
    </tr>
  </tbody>
</table>
   <div class="row my-4">
      <div class="col-3 font-weight-bold" style="font-size: 20px">配送先</div>
      <div class="col-3"><%= link_to "一覧を見る", deliveries_path, class: "btn btn-primary" %></div>
  </div>
   <div class="row my-4">
      <div class="col-3 font-weight-bold" style="font-size: 20px">注文履歴</div>
      <div class="col-3"><%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></div>
  </div>
</div>







