<div class="field">
<div class="row">
  <div class="col-2"></div>
  <h1 class=" col-3 border text-dark">商品編集</h1>
</div>
  <div class="container d-flex justify-content-center">
   <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>
   <div class="row my-3">
      <div class="col-3">
       <%= f.label :商品画像 %>
      </div>
      <div class="col-3">
       <%= f.file_field :image %>
      </div>
      
   </div>
    <div class="row my-3">
     <div class="col-3">
      <%= f.label :商品名 %> 
     </div>
     <div class="col-3">
       <%= f.text_field :name %>
     </div>
    </div>
   
    <div class="row my-3">
     <div class="col-3">
       <%= f.label :商品説明 %>
     </div>
     <div class="col-3">
      <%= f.text_area :introduction %>
     </div>
    </div>
    
     <div class="row my-3">
      <div class="col-3">
       <%= f.label :ジャンル %>
      </div>
      <div class="col-4">
        <%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "--選択して下さい--" %>
      </div>
    </div>
     
     <div class="row my-3">
      <div class="col-3">
       <%= f.label :税抜価格 %>
      </div>
      <div class="col-4">
       <!--円がずれて表示される-->
       <p><%= f.text_field :price %>円</p>
      </div>
     </div>
    
     
     <div class="row my-3">
      <div class="col-4">
       <%= f.label :販売ステータス %>
      </div>
      <div class="col-5">
       <%= f.radio_button :is_active, true %><%= f.label :is_active, '販売中', value: true %>
       <%= f.radio_button :is_active, false %><%= f.label :is_active, '販売停止中', value: false %>
      </div>
     </div>
    
    <div class="row my-3">
     <div class="col-4 center-block text-light">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>
    </div>

<% end %>

 </div>
