<div class="container">
  <div class="row">
    <div class="col-md-2"><h1>商品一覧</h1></div>
      <div class="col-md-9"></div>
        <div class="col-md-1"><%= link_to "+", new_admin_item_path %></div>
  </div>
<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>


  <% @items.each do |item| %>
    <tbody>
      <tr>
        <th><%= item.id %></th>
        <th><%= link_to item.name, admin_item_path(item.id) %></th>
        <th><%= item.price %></th>
        <th><%= item.genre.name %></th>
        <th>
          <% if item.is_active %>
          <p>販売中</p>
          <% else %>
        　<p>販売停止中</p>
        </th>
        <% end %>


  <% end %>
     </tr>
    </tbody>
  </table>

</div>