<h1>商品新規登録</h1>

<div class="field">
  <div class="container">
  <%= form_with model: @item, url: admin_items_path do |f| %>
   <div class="row">
    <%= f.label :商品画像 %><%= f.file_field :image %>
   </div>
   <div>
     <%= f.label :商品名 %> <%= f.text_field :name, placeholder: "商品名" %>
   </div>   
   <div>
     <%= f.label :商品説明 %><%= f.text_area :introduction, :placeholder =>"ここに説明文を記述します" %>
   </div>
   <div>
     <%= f.label :税抜価格 %><%= f.text_field :price, :placeholder => "1000" %>円
   </div>
   <div>
     <%= f.label :ジャンル %>
     <%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "--選択して下さい--" %>
     
   </div>
    
    
    <div>
      <%= f.label :販売ステータス %>
    </div>
    
  
  
    <%= f.radio_button :is_active, true %><%= f.label :is_active, '販売中', value: true %>
    <%= f.radio_button :is_active, false %><%= f.label :is_active, '販売停止中', value: false %>
    <%= f.submit "新規登録" %>
  <% end %>
 </div>
</div>