<div class="field">
 <div class="row">
  <div class="col-2"></div>
  <h1 class=" border text-dark">商品新規登録</h1>
 </div>
 <% if @item.errors.any? %>
  <%= @item.errors.count %>件のエラーが発生しました
  <ul>
    <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  <div class="container d-flex justify-content-center">
   
  <%= form_with model: @item, url: admin_items_path do |f| %>
   <div class="row-md-8">
    <%= f.label :商品画像 %><%= f.file_field :image %>
   </div>
   <div class="row-md-8">
     <%= f.label :商品名 %> <%= f.text_field :name, placeholder: "商品名" %>
   </div>   
   <div class="row-md-8">
     <%= f.label :商品説明 %><%= f.text_area :introduction, :placeholder =>"ここに説明文を記述します" %>
   </div>
   <div class="row-md-8">
     <%= f.label :税抜価格 %><%= f.text_field :price, :placeholder => "1000" %>円
   </div>
   <div class="row-md-8">
     <%= f.label :ジャンル %>
     <%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "--選択して下さい--" %>
     
   </div>
    
    
    <div class="row-md-5">
      <%= f.label :販売ステータス %>
      <%= f.radio_button :is_active, true %><%= f.label :is_active, '販売中', value: true %>
      <%= f.radio_button :is_active, false %><%= f.label :is_active, '販売停止中', value: false %>
    </div>
    <div class="row-md-5">
     <div class="col-4 center-block text-light">
      <button type="submit" class="btn btn-success">新規登録</button>
    </div>
    </div>
   
  <% end %>
  
  
 </div>
</div>