<h1>詳細画面</h1>

<%= f.label :商品画像 %><%= @item.image %>
<%= f.label :商品名 %><%= @item.name %>
<%= f.label :商品説明 %><%= @item.introduction %>
<%= f.label :ジャンル %><%= @genres.name %>
<%= f.label :税込価格（税抜価格） %><%= @item.price %>
<%= f.label :販売ステータス %><%= @item.is_active %>