<h1>商品詳細</h1>

<p>商品画像</p><%= image_tag @item.image %>
<p>商品名</p><%= @item.name %>
<p>商品説明</p><%= @item.introduction %>
<p>ジャンル </p><%= @genre.name %>
<p>税込価格（税抜価格)</p><%= @item.price %>
<p>販売ステータス</p>
<p><% if @item.is_active %></p>
<p>販売中</p>
<% else %>
<p>販売停止中</p>
<% end %>
<%= link_to "編集する", edit_admin_item_path %>