<div class="container">
  <div class="row center-block mt-4 p-3 mb-2 bg-info text-white" style="height: 300px">
    <img src="sample.png" class="img-fluid" alt="">
    <div class="col-4"></div>
    <div class="col-6" style="padding-top: 80px">
      <p>ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。</p>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <h1 class="col-2.8 border border-text">新着商品</h1>
  </div>
  <div class="row">
      
        <% @items.each do |item| %>
        <div class="w-25">
        <%= link_to item_path(item) do %>
        <%= image_tag item.image, size: '200x200' %>
        <% end %>
        <p><%= item.name %></p>
        <p>¥<%= item.price %></p>
        </div>
        <% end %>
   </div>
     <!--<div class="row">-->
      <!--<hr style="margin:0.5rem;">-->
      <%= paginate @items %>
      <!--<hr style="margin:0.5rem;">-->
     <!--</div>-->
  </div> 




<%#上から４番だけ表示させたい %>




