<div class="container">
    <div class="row">
        <div class="col-4.5 border border-text">
            <h3><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h3>
        </div>
    </div>
    
    <div class="row my-3">
        <div class="col-3">
             <p>会員ID</p>
        </div>
        <div class="col-3">
            <%= @customer.id %>
        </div>
    </div>
     <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
    <div class="row my-3">
        <div class="col-3">
          <%= f.label :氏名 %>
        </div>
        <div class="col-3">
          <%= f.text_field :last_name %>
        </div>
        <div class="col-3">
          <%= f.text_field :first_name %>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3">
          <%= f.label :フリガナ %>
        </div>
        <div class="col-3">
          <%= f.text_field :last_name_kana %>
        </div>
        <div class="col-3">
          <%= f.text_field :first_name_kana %>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3">
           <%= f.label :郵便番号 %>
        </div>
        <div class="col-3">
          <%= f.text_field :postal_code %>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3">
          <%= f.label :住所 %>
        </div>
        <div class="col-3">
          <%= f.text_field :address %>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3">
           <%= f.label :電話番号 %>
        </div>
        <div class="col-3">
           <%= f.text_field :number %> 
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3">
          <%= f.label :メールアドレス %>
        </div>
        <div class="col-3">
          <%= f.text_field :email %>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3">
          <%= f.label :会員ステータス %>
        </div>
        <div class="col-3">
          <%= f.radio_button :is_delete, true %><%= f.label :is_delete, '退会', value: true %>
          <%= f.radio_button :is_delete, false %><%= f.label :is_delete, '有効', value: false %>
         </div>
    </div>
    <div class="row">
      <div class="col-4 center-block text-light">
      <button type="submit" class="btn btn-success">変更を保存</button>
      </div>
       <% end %>
    </div>
    
</div>



 






 
 
 
 
