
<div class="container">
  <div class="row my-6">
    <div class="col-4.5">
       <h2 class="border text-dark"><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h2>
    </div>
  </div>
 
  
  <div class="row my-3">
    <div class="col-3">
      <p>会員ID</p>
    </div>
    <div class="col-3">
      <%= @customer.id %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-3">
      <p>氏名</p>
    </div>
    <div class="col-3">
      <%= @customer.last_name +  @customer.first_name %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-3">
      <p>フリガナ</p>
    </div>
    <div class="col-3">
      <%= @customer.last_name_kana + @customer.first_name_kana %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-3">
      <p>郵便番号</p>
    </div>
    <div class="col-3">
      <%= @customer.postal_code %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-3">
      <p>住所</p>
    </div>
    <div class="col-3">
      <%= @customer.address %>
    </div>
  </div>
  <div class="row my-3">
    <div class="">
      <p>電話番号</p>
    </div>
    <div class="col-3">
      <%= @customer.number %>
    </div>
  </div>
  
  <div class="row my-3">
    <div class="col-3">
      <p>メールアドレス</p>
    </div>
    <div class="col-3">
      <%= @customer.email %>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-3">
      <p>会員ステータス</p>
    </div>
    <div class="col-3">
      <% if @customer.is_delete %>
        <p class="text-secondary">退会</p>
      <% else %>
        <p class="text-success">有効</p>
      <% end %>
    </div>
  </div>
   <div class="row my-3">
     <div class="col-3"></div>
     <div class="col-3">
       <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-success" %>
     </div>
     <div class="col-3">
       <%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn btn-primary" %>
     </div>
   </div>
  
</div>










