<h1>注文履歴詳細</h1>

<p>購入者</p><%= @order.customer.last_name + @order.customer.first_name %>
<p>注文日</p><%= @order.created_at %>
<p>配送先</p><%= @order.customer.postal_code + @order.customer.address + @order.customer.last_name + @order.customer.first_name %>
<p>支払方法</p><%= @order.method %>
<p>注文ステータス</p>
<%= form_with model: @order, url: admin_orders_details_path(admin_orders.id), method: :patch do |f| %>
<p>注文ステータス</p>
<%= f.sellect :status, *[1..4], :value => order.status %>
<%= f.submit "更新" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_detail| %>
    <tr>
      <th><%= order_detail.item.name %></th>
      <th><%= order_detail.price %></th>
      <th><%= order_detail.quantity %></th>
      <th><%= order_detail.price * order_detail.quantity %></th>
      <th><%= form eith model: @order_detail, urlcd: admin_orders_details_path(order.id), method: :patch do |f| %>
          <%= <%= f.select :making_status, *[  ]   %>
          <% end %>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>

<p>商品合計</p>
<p>送料</p>
<p>請求合計</p>