<h1>ジャンル一覧・追加</h1>
<%= form_with model: @genre, url: admin_genres_path do |f| %>
<%= f.label :ジャンル名 %><%= f.text_field :name %>
<%= f.submit "新規登録" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
    <tr>
      <th>genre.name</th>
      <th><%= link_to "編集する", edit_admin_genre_path %></th>
    </tr>
    <% end %>
  </tbody>
</table>