<div class="container">
  <div class="row my-3">
     <h2 class="col-4 border border-text">ショッピングカート</h2>
     <div class="col-4"></div>
     <p class=" col-3 text-right"><%= link_to "カートを空にする", cart_items_all_destroy_path, method: :delete, class: "btn btn-danger" %></p>
  </div>
  
  <table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>

  </thead>
  <tbody>
    <% @total = 0 %>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <th><%= image_tag cart_item.item.image, size: "200x200" %>
      <%= cart_item.item.name %>
      </th>
      <th><%= cart_item.item.with_tax_price %></th>
      <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
      <th>
        <%= f.select :amount, *[1..10], :value => cart_item.amount %>
        <%= f.submit "変更", class: "btn btn-success" %>
      </th>
      <% end %>
      <th><%= cart_item.subtotal %></th>

      <th><%= link_to "削除する",cart_item_path(cart_item.id), method: :delete, class:"btn btn-danger" %></th>
    </tr>
    <% @total += cart_item.subtotal %>
    <% end %>
    
  </tbody>
</table>
   
     <div class="row mt-3">
        <div class="col-2"><%= link_to "買い物を続ける", root_path,class: "btn btn-primary" %></div>
        <div class="col-6"></div>
       <table class=" col-4 table">
            <th>合計金額</th>
            <th><%= @total %></th>    
       </table>
     </div>  
     <div class="row mt-4">
       <div class="col-4"></div>
       <div class="col-3"style="margin-bottom: 100px"><%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %></div>
     </div>
         
    
     
  
  <div>
   

  





  