<h2>注文情報確認</h2>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <%= form_with model: @order_detail, url: complete_path do |f| %>

  <tbody>
    <%= @order.each do |order| %>
    <tr>
      <th><%= image_tag @item.image, size: "100x100" %><%= @item.name %></th>
      <th><%= @item.price %></th>
      <th><%= @cart_item.amount %></th>
      <th><%= @cart_item.subtotal %></th>
    </tr>
  <% end %>
   <tr>
     <th><p>商品合計</p></th>
     <th><p>請求合計</p><%= @total %></th>
   </tr>
     <h3>支払い方法</h3>

     <h3>お届け先</h3>

     <%= f.submit :"注文を確定する" %>
  </tbody>
  <% end %>

</table>