<div class="container">
 <h2 class="col-3 border border-text">注文情報確認</h2>

  <div class="row">
    <div class="col-7">
        <table class="table">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
            <tr>
              <th><%= image_tag cart_item.item.image, size: "100x100" %><%= cart_item.item.name %></th>
              <th><%= cart_item.item.price %></th>
              <th><%= cart_item.amount %></th>
              <th><%= cart_item.subtotal %></th>
            </tr>
          <% end %>
     </div>
    <div class="col-5">
       <tr>
     <th><p>送料</p><%= @order.shipping %></th>
     <% @cart_items.each do |cart_item| %>
     <% @total = @total + cart_item.subtotal %>
     <% end %>
     <th><p>商品合計</p><%= @total %></th>
     <th><p>請求合計</p><%= @order.shipping + @total %></th>
   </tr>
   </div>
  </div>
   
   <div class="row">
       <div class="col-3 font-weight-bold">支払い方法</div>
       <div class="col-4"><%= @order.method_i18n %></div>
   </div>
   <div class="row">
       <div class="col-3 font-weight-bold">お届け先</div>
       <div class="col-4">
             <%= @order.postal_code + @order.address + @order.name %>
             <%= form_with model: @order, url: orders_path do |f| %>
        　　 <%= f.hidden_field :method, :value => @order.method  %>
        　　 <%= f.hidden_field :postal_code, :value => @order.postal_code %>
        　　 <%= f.hidden_field :address, :value => @order.address %>
        　　 <%= f.hidden_field :name, :value => @order.name %>
        　　 <%= f.hidden_field :shipping, :value => @order.shipping %>
        　　 <%= f.hidden_field :payment, :value => @total %>
       </div>
        <div class="col-4 center-block text-light">
           <%= f.submit "注文を確定する", class: "btn btn-success" %>
            <% end %>
        </div>
         </tbody>
      </table>
    </div>
 </div>


     

    
     
 