<h2>注文履歴一覧</h2>

<table>
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
      <th>支払金額</th>
      <th>ステータス</th>
      <th>注文詳細</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <th><%= order.created_at %></th>
      <th><%= order.postal_code + order.address + order.name %></th>
      <th>
        <% order.order_details.each do |order_detail| %>
        <%= order_detail.item.name %>
        <% end %>
      </th>
      <th><%= order.payment %></th>
      <th><%= order.status %></th>
      <th><%= link_to "表示する", order_path(order.id) %></th>
    </tr>
    <% end %>
  </tbody>
</table>