<h2>注文情報入力</h2>

<h3>支払い方法</h3><%#表記が全てローマ字表記になってしまう%>
<%= form_with model: @order, url: confirm_path do |f| %>
  <%= f.radio_button :method, Order.methods.key(0) %>
  <%= f.label :method_credit_card, Order.methods_i18n[:credit_card] %>
  <%= f.radio_button :method, Order.methods.key(1) %>
  <%= f.label :method_transfer, Order.methods_i18n[:transfer] %>

<h3>お届け先</h3><%#アドレスIDはカラムにない%>
  <%= f.radio_button :select_address, 0 %><%= f.label :ご自身の住所 %>
   <p><%= current_customer.postal_code + current_customer.address + current_customer.last_name + current_customer.first_name %></p>
  <%= f.radio_button :select_address, 1 %><%= f.label "新しいお届け先" %>
  <%= f.label "郵便番号(ハイフンなし)" %><%= f.text_field :postal_code, placeholder: "0000000" %>
  <%= f.label :住所 %><%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町０−０" %>
  <%= f.label :宛名 %><%= f.text_field :name, placeholder: "令和道子" %>
  <%= f.submit "確認画面へ進む" %>
<% end %>


