<h2>注文情報入力</h2>

<h3>支払い方法</h3><%#表記が全てローマ字表記になってしまう%>
<%= form_with model: @order_detail, url: orders_path do |f| %>
  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
  
<h3>お届け先</h3><%#アドレスIDはカラムにない%>
<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
  
<% end %>