<div class="container">
  <h3 class="col-3 border border-text">注文情報入力</h3>
  <h3 class="font-weight-bold">支払い方法</h3>
   <%= form_with model: @order, url: confirm_path do |f| %>
     <p style="padding-left: 30px">
       <%= f.radio_button :method, Order.methods.key(0) %>
       <%= f.label :method_credit_card, Order.methods_i18n[:credit_card] %>
    </P>
    <p style="padding-left: 30px">
      <%= f.radio_button :method, Order.methods.key(1) %>
      <%= f.label :method_transfer, Order.methods_i18n[:transfer] %>
    </p>
    
  
  <h3 class="font-weight-bold">お届け先</h3>
    <p style="padding-left: 30px">
      <%= f.radio_button :select_address, 0 %><%= f.label :ご自身の住所 %>
      <%= current_customer.postal_code + current_customer.address + current_customer.last_name + current_customer.first_name %>
    </p>
    <p style="padding-left: 30px">
      <%= f.radio_button :select_address, 1 %><%= f.label "新しいお届け先" %>
    </p>
    <p style="padding-left: 35px">
      <div class="row my-4">
        <div class="col-1"></div>
        <div class="col-3"> <%= f.label "郵便番号(ハイフンなし)" %></div>
        <div class="col-3"> <%= f.text_field :postal_code, placeholder: "0000000" %></div>
      </div>
      <div class="row my-4">
        <div class="col-1"></div>
        <div class="col-3"><%= f.label :住所 %></div>
        <div class="col-3"><%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町０−０" %></div>
      </div>
      <div class="row my-4">
        <div class="col-1"></div>
        <div class="col-3"><%= f.label :宛名 %></div>
        <div class="col-3"><%= f.text_field :name, placeholder: "令和道子" %></div>
      </div>
      <div class="row my-4">
         <div class="col-2"></div>
         <div class="col-6 center-block text-light">
          <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
         </div>
      </div>
       <% end %>
      </div>
  
    




