<h2>注文履歴詳細</h2>
<p>注文情報</p>
<table>
    <tr>
      <th>注文日</th>
      <th><%= @order.created_at %></th>
    </tr>
    <tr>
      <th>配送先</th>
      <th><%= @order.postal_code + @order.address + @order.name %></th>
    </tr>
    <tr>
      <th>支払方法</th>
      <th><%= @order.method %></th>
    </tr>
    <tr>
      <th>ステータス</th>
      <th><%= @order.status %></th>
    </tr>
</table>

<p>請求情報</p>
<table>
  <tr>
    <th>商品合計</th>
    <th><%= @order.subtotal %></th>
  </tr>
  <tr>
    <th>配送料</th>
    <th><%= @order.shipping %></th>
  </tr>
  <tr>
    <th>ご請求額</th>
    <th><%= @order.shipping + @total %></th>
  </tr>
</table>

<p>注文内容</p>
<table>
  <thead>
    <tr>
      <th>商品</th>
      <th>単価（税込）</th>
      <th>個数</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order.each do |order| %>
    <tr>
      <th><%= %></th>
      <th><%= %></th>
      <th><%= %></th>
      <th><%= %></th>
    </tr>
    <% end %>
  </tbody>
</table>