<div class="container">
  <div class="row">
    <div class="col-4 md-5 float-left">
      <%= image_tag @item.image, size: "200x200" %>
    </div>
    <div class="col-8">
      <h3 class="font-weight-bold"><%= @item.name %></h3>
      <p style="margin-bottom: 30px"><%= @item.introduction %></p>
      <p style="margin-bottom: 20px"><%= @item.price %>(税込)</p>
      <%= form_with model: @cart_item, url: cart_items_path do |f| %>
      <%= f.hidden_field :item_id, :value => @item.id %>
     <p> <%= f.select :amount, *[1..10], { include_blank: '個数選択'} %>
        <button type="submit" class="btn btn-success">カートに入れる</button>
        <% end %>
     </p>
    </div>
  </div>
</div>

